{% extends 'layout.html.twig' %}

{% block content %}

    <h2>Recent Activity</h2>
    <ul class="media-list">
    {% for post in posts %}
        <li class="media media-divider">
            <div class="media-object media-object-sm media-object-circle">
                {% if post.author_avatar %}{{ post.author_avatar }}{% else %}<img src="{T_THEME_PATH}/images/no_avatar.gif" alt="no avatar" />{% endif %}
            </div>
            <div class="media-body">
                <h3 class="media-heading media-heading-sm">
                    {{ post.author_full }}
                    {% if post.is_first_post %}
                        created topic
                    {% else %}
                        replied to
                    {% endif %}
                    &ldquo;<a href="{{ post.topic_url }}">{{ post.topic_title }}</a>&rdquo;
                </h3>
                <time class="media-subheading" datetime="{{ post.post_time_iso }}">{{ post.post_time }}</time>
                <div class="media-content">
                    {{ post.post_text }}
                </div>
                <div>
                    <a href="{{ post.post_url }}">Read more</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
